@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans'), local('OpenSans'),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

.dark-theme {
    --black: #CCCCCC;
    --white: #031923;
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px;
    align-items: center;
    padding-bottom: 60px;
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 34px;
    padding-left: 40px;
    text-align: center;
}

.header nav ul {
    display: flex;
    margin: 0;
}

.header nav li {
    display: inline-block;
    margin-left: 20px;
}

.header-signin {
    position: absolute;
    right: 60px;
}

.header nav a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.header nav a:hover {
    color: var(--green);
}

/* logo */
h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
/* title */
h2 {
    margin: 0;
    margin-bottom: 20px;
}

.wrapper {
    min-width: 320px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    grid-gap: 60px;
    grid-template-areas: 
      "sidebar content"
  }

.menu {
    grid-area: sidebar;
    width: 250px;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    text-align: center;
    
    color: var(--black);
}
.menu ul {
    list-style-type: none;
    color: var(--black);
    background-color: var(--white);
    padding: 0px;
    margin: 0px;
}
.menu li {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;  
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.menu li:hover {
    background-color: var(--green);
}

.menu li:hover * {
    color: var(--white);
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
}

.menu li:last-child {
    border-bottom: 1px solid grey;
}

.view {
    grid-area: content;
    margin: 0;
}

.view h2 {
    text-align: center;
}

.view-wrapper {
    max-width: 950px;
}

.view-wrapper p {
    margin: 0;
}

.imagesPreview {
    display: flex;
    flex-direction: row;
}

.imagesPreview img{
    border: 1px solid grey;
    margin-right: 10px;
}

a {
    color: var(--green);
}

button {
    font-weight: 700;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button a {
    text-decoration: none;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

button:hover * {
    color: var(--white);
}

.buttonPlaceholder {
    font-weight: 700;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonPlaceholder a {
    text-decoration: none;
}

.buttonPlaceholder:hover {
    color: var(--white);
    background-color: var(--green);
}

.buttonReset:hover * {
    color: var(--white);
}

.buttonReset {
    font-weight: 700;
    background-color: var(--white);
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonReset a {
    text-decoration: none;
}

.buttonReset:hover {
    color: var(--white);
    background-color: grey;
}

.buttonReset:hover * {
    color: var(--white);
}

input {
    margin-right: 5px;
    margin-bottom: 5px;
}

.bigPlaceholder {
    max-width: 300px;
}

.mediumPlaceholder {
    max-width: 140px;
}

.smallPlaceholder {
    max-width: 120px;
}

.tinyPlaceholder {
    max-width: 63px;
}


.hidingAdditionalInput {
    display: none;
}

.selectionImg {
    width: 300px;
    height: 300px;
    background: url(/img/add.svg);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid var(--green);
    color: transparent;
    text-indent: -9999px;
}

.selectedImg {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid var(--green);
    color: transparent;
    text-indent: -9999px;
}

@media screen and (max-width: 1400px) {
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }
    .selectionImg {
       width: 200px;
       height: 200px;
    }
    .selectedImg {
        width: 200px;
        height: 200px;
        background-size: 200px;
     }
}

@media screen and (max-width: 900px) {
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
     .hideingAdditionalInput {
        display: inline;
    }
    .smallPlaceholder {
       max-width: 300px;
    }
    .tinyPlaceholder {
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }
    .selectionImg {
        width: 200px;
        height: 200px;
     }
     .selectedImg {
        width: 200px;
        height: 200px;
        background-size: 200px;
     }

    .menu {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 670px) {
    .imagesPreview img {
        max-width: 170px;
        max-height: 170px;
    }
    .selectionImg {
        width: 170px;
        height: 170px;
     }
     .selectedImg {
        width: 170px;
        height: 170px;
        background-size: 170px;
     }
}

@media screen and (max-width: 560px) {
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
}

@media screen and (max-width: 500px) {
    /*.imagesPreview img:last-child {
        display: none;
    }
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }*/
}

@media screen and (max-width: 450px) {
    .imagesPreview {
        display: inline-block;
    }
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
}