@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans'), local('OpenSans'),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
    --grey: #EFEFEF;
}

.dark-theme {
    --black: #CCCCCC;
    --white: #031923;
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh !important;
}


.header {
    background-color: #212121;
    color: var(--white);
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0px 0px;
    align-items: center;
    padding-bottom: 5px;
}

.header * {
    color: var(--white);
}

.logo {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    padding-left: 40px;
    /*color: var(--green);*/
    text-align: center;
}

.header nav ul {
    display: flex;
    margin: 0;
}

.header nav li {
    display: inline-block;
    margin-left: 20px;
}

.header-signin {
    position: absolute;
    right: 60px;
}

.header nav a {
    display: inline-block;
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.header nav a:hover {
    color: var(--green);
}

footer {
    /*display: none;*/ /* until it fixed */
    position: absolute;
    background-color: #212121;
    color: var(--white);
    margin: 0;
    padding: 0;
    min-width: 100%;
}

/* logo */
h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
/* title */
h2 {
    margin: 0;
    margin-bottom: 20px;
}

.wrapper {
    min-width: 320px;
    /*max-width: 90%;*/
    /*height: 91vh; *//*calc(100vh - 97px);*/
    margin: 0 auto;
    display: flex;
    grid-gap: 60px;
    grid-template-areas: 
      "sidebar content"
  }

  .wrapper-footer {
    min-width: 320px;
    max-width: 90%;
    padding: 8px;
    margin: 0 auto;
    display: flex;
  }

.menu {
    grid-area: sidebar;
    position: relative;
    display: block;
    
    min-height: 100vh;
    width: 500px;
    padding: 0px;
    padding-top: 20px;
    padding-left: 80px;
    margin: 0px;
    /*margin-top: 20px;

    padding-left: 20px;*/
    
    color: var(--black);
    background-color: var(--grey);
}

.menu h3 {
    font-weight: 400;
    font-size: 16px;
}

.menuCategory {
    font-weight: 700;
}

/*.menu h2 {
    background-color: var(--white);
}*/
.menu ul {
    list-style-type: none;
    color: var(--black);
    background-color: var(--grey);
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}


.menu li {
    font-size: 18px;
    padding: 5px;
    padding-left: 0;
    /*padding-left: 50px;*/
    padding-right: 10px;
    /*border-top: 1px solid grey;*/
    /*border-left: 1px solid grey;*/
    /*border-right: 1px solid grey;*/
}

.menu li a {
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}

/*.menu li:hover {*/
/*    background-color: var(--green);*/
/*}*/
/**/
/*.menu li:hover * {*/
/*    color: var(--white);*/
/*    text-decoration: none;*/
/*}*/

.menu li a:hover {
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
}

.menu > ul:last-child > ul:last-child {
    padding-bottom: 50px;
}

/*.menu li:last-child {
    border-bottom: 1px solid grey;
}*/

.view { 
    grid-area: content;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.view ul, .auth ul {
    padding: 0;
    list-style-type: none;
}

.view ul > li, .auth ul > li {
    margin: 1rem 0;
    height: 2rem;
    line-height: 2rem;
    left: -1rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.15rem 0.15rem 0.6rem rgba(0,0,0,0.15), 0 0.5rem 1.125rem rgba(146, 145, 145, 0);
}

.view h2 {
    text-align: center;
}

.view-wrapper {
    /*margin-top: 20px;*/
    max-width: 950px;
}

.view-wrapper p {
    margin: 0;
}

.imagesPreview {
    display: inline-block;
    flex-direction: row;
}

.imagesPreview img{
    border: 1px solid grey;
    margin-right: 10px;
}

a {
    color: var(--green);
}

button {
    font-weight: 700;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

button a {
    text-decoration: none;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

button:hover * {
    color: var(--white);
}

.buttonPlaceholder {
    font-weight: 700;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.buttonPlaceholder a {
    text-decoration: none;
}

.buttonPlaceholder:hover {
    color: var(--white);
    background-color: var(--green);
}

.buttonReset:hover * {
    color: var(--white);
}

.buttonReset {
    font-weight: 700;
    background-color: var(--white);
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.buttonReset a {
    text-decoration: none;
}

.buttonReset:hover {
    color: var(--white);
    background-color: grey;
}

.buttonReset:hover * {
    color: var(--white);
}

input {
    margin-right: 5px;
    margin-bottom: 5px;
}

.rowEdit {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

.rowEdit > input {
    border: 1px dashed;
}


.hidingAdditionalInput {
    display: none;
}

.selectionImg {
    width: 300px;
    height: 300px;
    background: url(/img/add.svg);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid var(--green);
    color: transparent;
    text-indent: -9999px;
}

.selectedImg {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid var(--green);
    color: transparent;
    text-indent: -9999px;
}

.auth {
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 33vh;
    padding-bottom: 33vh;
}

.auth p {
    margin-bottom: 30px;
}

.auth > form > ul > li {
    width: 200px;
}

.auth > form > ul > li > input {
    border: none;
}

.auth > form > ul > button {
    margin-top: 20px;
    width: 200px;
}

@media screen and (max-width: 1400px) {
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }
    .selectionImg {
       width: 200px;
       height: 200px;
    }
    .selectedImg {
        width: 200px;
        height: 200px;
        background-size: 200px;
     }
}

@media screen and (max-width: 900px) {
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
     .hideingAdditionalInput {
        display: inline;
    }
    .smallPlaceholder {
       max-width: 300px;
    }
    .tinyPlaceholder {
        max-width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }
    .selectionImg {
        width: 200px;
        height: 200px;
     }
     .selectedImg {
        width: 200px;
        height: 200px;
        background-size: 200px;
     }

    .menu {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 670px) {
    .imagesPreview img {
        max-width: 170px;
        max-height: 170px;
    }
    .selectionImg {
        width: 170px;
        height: 170px;
     }
     .selectedImg {
        width: 170px;
        height: 170px;
        background-size: 170px;
     }
}

@media screen and (max-width: 560px) {
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
}

@media screen and (max-width: 500px) {
    /*.imagesPreview img:last-child {
        display: none;
    }
    .imagesPreview img {
        max-width: 200px;
        max-height: 200px;
    }*/
}

@media screen and (max-width: 450px) {
    .imagesPreview {
        display: inline-block;
    }
    .imagesPreview img {
        max-width: 150px;
        max-height: 150px;
    }
    .selectionImg {
        width: 150px;
        height: 150px;
     }
     .selectedImg {
        width: 150px;
        height: 150px;
        background-size: 150px;
     }
}